.wrapper {
    min-height: 100%;
    position: relative;
    padding-bottom: 56%;
}
.header {
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 5 ;
}
.header__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    align-items: center;
    height: 58px;
}
.header__logo {
    flex: 1 1 auto;
}
.header__logo a {
    font-size: 22px;
    font-weight: 700;
}
.header__logo a:hover {
    color: #3CB878;
    transition: color 0.5s ease 0s ;
}
.header__items {
    display: flex;
    gap: 25px;
}
svg:hover path {
    fill: #3CB878;
    transition: fill 0.5s ease 0s ;
}
.header__items::after {
    content: "";
    width: 1px;
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 0.5;
    margin-right: 27px;
}
.header__welcome a:hover {
    color: #3CB878;
    transition: color 0.5s ease 0s;
}
.page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.signup {
    width: 444px;
    height: 584px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    padding: 31px 60px 0 60px;
    color: #434343;
    display: flex;
    flex-direction: column;
}
.signup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.signup__title {
    font-size: 20px;
}
.signup__title::before {
    content: "";
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    position: absolute;
    top: 31px;
    left: 0;
}
.signup__link {
    color: #3CB878;
}
.signup__link:hover {
    text-decoration: underline;
}
.signup__buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 31px;
}
.signup__button {
    width: 160px;
    height: 48px;
    background-color: #DF4A32;
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 12px;
}
.signup__button img {
    margin-right: 38px;
}
.signup__button:first-child {
    background-color: #305DB8;
    padding-left: 17px;
}
.signup__button:hover {
    background-color: #AB1F09;
    transition: all 0.5s ease 0s;
}
.signup__button:first-child:hover {
    background-color: #022263;
}
.signup__button::after {
    content: "";
    width: 1px;
    height: 28px;
    background-color: #2B0D09;
    position: absolute;
    opacity: 0.1;
    top: 10px;
    left: 48px;
}
.signup__button:first-child::after {
    background-color: #0A162F;
}
.signup__divider {
    position: relative;
    text-align: center;
    margin-bottom: 12px;
}
.signup__divider::after,
.signup__divider::before {
    content: "";
    width: 152px;
    height: 1px;
    background: #F2F2F2;
    top: 50%;
    position: absolute;
}
.signup__divider::after {
    right: 0;
}
.signup__divider::before {
    left: 0;
}
.signup__input-text {
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    width: 324px;
    height: 45px;
    padding: 15px 19px;
    margin-bottom: 15px;
    color: #434343;
}
.signup__input-text::placeholder {
    color: #BEBEBE;
}
.signup__input-text:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
.input-text__bottom {
    margin-bottom: 12px;
}
.signup__input-checkbox {
    margin-bottom: 20px;
    margin-right: 8px;
}
.signup__terms-conditions {
    color: #3CB878;
}
.signup__terms-conditions:hover {
    text-decoration: underline;
}
.signup__input-submit {
    width: 324px;
    height: 46px;
    background-color: #3CB878CC;
    color: #fff;
    border-radius: 4px;
}
.signup__input-submit:hover {
    background-color: #01813F;
    transition: all 0.5s ease 0s;
}
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -5;
}
